@import '../../scss/variables';

.Menu {
    width: 100%;
    position: fixed;
    padding: 15px 20px;
    font-size: 1.4em;
    top: 0;
    z-index: 3;
    transition: .5s;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    &-lang {
        color: $themeLightGrey;
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 10px 20px;
        z-index: 4;
        transition: .3s;
        &--button {
            background: transparent;
            border: none;
            color: $themeLightGrey;
            &:hover {
                color: $themeColour;
            }
        }
    }
    
    &-navbar {
        &--hamburger {  
        }
        .navbar-nav {
            padding: 5px 20px;
            .nav-item .nav-link {
                color: $themeLightGrey;
            }
        }
        &--nav {
            transition: .3s;
            &-item {
                &-link {
                    color: $themeLightGrey;
                    text-transform: uppercase;
                    &:hover {
                        color: $themeColour;
                    }
                }
            }
        }
    }
}

.changeColor {
    background: $themeGreyTrans;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .Menu {
        .navbar {
            justify-content: flex-end;
        }
        &-lang {}
        &-navbar {
            &--hamburger {
            }
            &--nav {
                &-item {
                    &-link {}
                }
            }
        }
    }
}