@import '../../scss/variables';

.Menu {
    width: 100%;
    position: fixed;
    padding: 15px 20px;
    font-size: 1.4em;
    top: 0;
    z-index: 3;
    transition: .5s;

    &-lang {
        color: $themeLightGrey;
        position: absolute;
        font-size: 0.8em;
        top: 20px;
        left: 20px;
        padding: 10px 20px;
        z-index: 4;
        transition: .3s;
        &--button {
            background: transparent;
            border: none;
            color: $themeLightGrey;
            transition: .3s;
            &:hover {
                color: $themeColour;
            }
        }
    }
    
    &-navbar {
        .changeColor {
            background: $themeGreyTrans;
            border-radius: 15px;
        }
        .navbar-nav {
            padding: 5px 20px;
            .nav-item .nav-link {
                color: $themeLightGrey;
                transition: .3s;
                &:hover {
                    color: $themeColour;
                }
            }
        }
        &--nav {
            transition: .3s;
            &-item-link {
                color: $themeLightGrey;
                text-transform: uppercase;
            }
        }
    }
}

.changeColor {
    background: $themeGreyTrans;
    border-radius: 15px;
}

@media (max-width: 991.98px) { 
    .Menu {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .Menu {
        .navbar {
            justify-content: flex-end;
        }
    }
}
