@import '../../scss/variables';

.Hero {
    padding-top: 56px;
    height: 100vh;
    background: url('../../images/monstera.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    text-transform: uppercase;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    &-text {
        padding: 80px;
        &--hi{
            padding-left: 20px;
        }
        &--name {
            width: 500px;
            border-bottom: 10px solid $themeColour;
            font-size: 90px;
            font-weight: 900;
        }
        &--position {
            padding-bottom: 10vh;
        }
    }
}