@import '../../scss/variables';

.Hero {
    padding-top: 56px;
    height: 100vh;
    background: url('../../images/monstera.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    text-transform: uppercase;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    &-text {
        padding: 80px;
        &--hi, &--name, &--position {
            transition: .3s;
        }
        &--hi{
            padding-left: 20px;
        }
        &--name {
            width: 500px;
            border-bottom: 10px solid $themeColour;
            font-size: 5vw;
            font-weight: 900;
        }
        &--position {
            padding-bottom: 10vh;
        }
    }
}

@media (max-width: 991.98px) { 
    .Hero {
        text-align: center;
        &-text {
            &--hi{
                font-size: 25px;
            }
            &--name {
                font-size: 70px;
                margin: 0 auto;
            }
            &--position {
                padding-top: 20px;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 767.98px) { 
    .Hero {
        &-text--name {
            font-size: 40px;
        }
    }
}

@media (max-width: 575.98px) { 
    .Hero {
        text-align: center;
        &-text {
            &--hi{
                font-size: 25px;
            }
            &--name {
                font-size: 2em;
                width: 95%;
                margin: 0 auto;
            }
            &--position {
                padding-top: 20px;
                font-size: 1em;
            }
        }
    }
 }