@import '../../scss/mixins';

.Portfolio {
    @include section;
    background: $themeGrey;

    &-header {
        @include sectionHeader;
        color: white;
        width: 50%;
        margin: 0 auto;
    }
}