@import '../../scss/mixins';

.Portfolio {
    @include section;
    background: $themeGrey;

    &-header {
        @include sectionHeader;
        color: white;
        width: 50%;
        margin: 0 auto 40px;
    }
    &-projects {
        &--moved {
            position: relative;
            bottom: 30px;
        }
        &--line {
            height: 150px;
            .moved {
                align-self: flex-end;
                text-align: left;
            }
            .bordered {
                border-right: 7px solid $themeColour;
            }
            .hgt {
                height: 100px;
            }
            &-text {
                color: white;
                text-align: right;
                height: 100px;
                &-header {
                    font-weight: 600;
                    color: $themeColour;
                }
            }
            &-element {
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                height: 100px;
                transition: .2s ease-in;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .bg-1 {
            background: url('../../images/projects/project-1.png');
            &:hover {background: url('../../images/projects/project-1a.png')}
        }
        .bg-2 {
            background: url('../../images/projects/project2.png');
            &:hover {background: url('../../images/projects/project2a.png')}
        }
        .bg-3 {
            background: url('../../images/projects/project-3.png');
            &:hover {background: url('../../images/projects/project-3a.png')}
        }
        .bg-4 {
            background: url('../../images/projects/project-4.png');
            &:hover {background: url('../../images/projects/project-4a.png')}
        }
    }
}