@import '../../scss/mixins';

.Portfolio {
    @include section;
    background: $themeGrey;
    padding-bottom: 100px;

    &-header {
        @include sectionHeader;
        color: white;
        width: 50%;
        margin: 0 auto 40px;
    }
    &-projects {
        &--button {
            position: relative;
            top: 70px;
        }
        &--moved {
            position: relative;
            bottom: 30px;
        }
        &--line {
            height: 150px;
            .moved {
                align-self: flex-end;
                text-align: left;
            }
            .bordered {
                border-right: 7px solid $themeColour;
            }
            .hgt {
                height: 100px;
            }
            &-text {
                color: white;
                text-align: right;
                height: 155px;
                &-header {
                    font-weight: 600;
                    color: $themeColour;
                }
            }
            &-element {
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                position: relative;
                height: 140px;
                transition: .2s ease-in;
                margin: 5px 0;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .hover-left {
            background: url('../../images/projects/monstera-left.png');
            top: 0px;
            left: 20px;
        }
        .hover-right {
            background: url('../../images/projects/monstera-right.png');
            top: 10px;
            left: 15px;
        }
        .hover-left, .hover-right {
            background-size: 150px 140px;
            background-color: transparent;
            position: absolute;
            height: 140px;
            width: 150px;
            z-index: 3;
            transition: .5s ease-in;
            &:hover {
                opacity: 0;
            }
        }
        .bg-1 {
            background: url('../../images/projects/project-1.png');
        }
        .bg-2 {
            background: url('../../images/projects/project2.png');
        }
        .bg-3 {
            background: url('../../images/projects/project-3.png');
        }
        .bg-4 {
            background: url('../../images/projects/project-4.png');
        }
    }
}