@import '../../scss/mixins';

.Contact {
    @include section;
    padding: 100px 0;
    height: auto;
    background: url('../../images/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    &-line {
        color: white;
        text-align: left;
        padding: 20px 0;
        height: 100px;
        .link {
            color: white;
            text-decoration: none;
            transition: .3s;
        }
        &--icon {
            text-align: center;
            font-size: 60px;
            color: white;
            transition: .3s;
        }
        &--link {
            font-size: 20px;
            padding: 30px;
        }
        &:hover {
            .link, .icon { 
                color: $themeColour; 
            }
        }
    }
}

@media (max-width: 991.98px) { 
    .Contact {
        &-line--link {
            text-align: center;
        }
    }
}

@media (max-width: 767.98px) { 
    .Contact {
        padding-bottom: 130px;
        height: auto;
        &-line {
            height: 150px;
            &--link {
                padding-top: 5px;
            }
        }
    }
}

@media (max-width: 575.98px) { 
    .Contact {
        &-line {
            &--link {
                text-align: center;
                font-size: 1.3em;
            }
        }
    }
}

@media (max-width: 350px) { 
    .Contact {
        &-line {
            &--link {
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
}