@import './variables';

@mixin section {
    padding: 100px 0;
}
@mixin sectionHeader {
    border-bottom: 10px solid $themeColour;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
}